body {
    padding-bottom: 50px;
}

.trail_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trail_image {
    width: 70vw;
    height: 40vw;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heart_and_ratings {
    width: 70vw;
    display: flex;
    justify-content: center;
}

.star_container {
    width: 80%!important;
    height: 10%!important;
}

.my_rating {
    width: 40%;
    display: flex;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.overall_rating {
    width: 40%;
    display: flex;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.trail_deets {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    width: 70vw;
}

.trail_description {
    width: 70vw;
    text-align: center;
}

.tag_group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
}

.tag {
    color: #60b0f4;
    background-color: lightgray;
    border-radius: 5%;
    padding: 5px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.submit_review_container {
    margin: auto;
    width: 70vw;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.submit_review_container h2 {
    color: black;
}

/* .review_container {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

.col_75 {
    width: 100%;
    margin-top: 6px;
}

.reviews_div {
    width: 60vw;
    margin: auto;
}
