.main_header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.main_header_left {
    width: 50%;
    height: 50%;
    padding-left: 30px;
}

.main_header_right {
    width: 50%;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main_header_button {
    border: none;
    cursor: pointer;
    background-color: lightgray;
    color: #60b0f4;
    font-size: 18px;
}