.thumb_container {
    margin-top: 5vw;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 40vw;
    height: 20vw;
    cursor: pointer;
    background-size: cover;
}

.thumb_name,
.thumb_difficulty,
.thumb_area,
.thumb_heart {
    display: flex;
    color: #ffffff;
    padding-left: 10px;
}

.star_container {
    padding: 0 0 0 10px;
    width: 100%;
}

.thumb_rating {
    width: 40%;
    height: 10%;
    padding-left: 10px;
    color: white;
    display: flex;
    flex-direction: row;
}

.thumb_name {
    margin: auto;    
    height: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumb_difficulty,
.thumb_area {
    padding-top: 5px;
    font-size: 1.2rem;
    margin: auto;
    height: 8%;
}

.thumb_heart {
    cursor: pointer;
}