.thumb_grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search_form {
    margin: auto;
    width: 90vw;
    padding-top: 30px;
}

.search_form_element {
    margin-left: 5px;
    margin-right: 5px;
}